<!DOCTYPE html>
<html>

    <head>
    <title>File Upload Box</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   	<!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       

      <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/load.js') }}"></script>
   </head>

   <body>

       <div class="container title-styling">
           <h1 class="text-center">Image Classification</h1>
       </div>
       <div class="container">
            <form class="form-styling" id="upload-file" method="POST" enctype="multipart/form-data" action = "\resultpage">
                
                <div class="row">
                    <div class="col-md-6 text-center" >
                            <input name="file" type="file" accept="image/*" onchange="showMyImage(this)"/>
                    </div>
                    <div class="col-md-6 text-center">
                            <button class="btn btn-primary" id="upload-file-btn" type="button">Upload</button>
                    </div>
           
                       
                </div>
                
 
            </form>
        </div>
       
        <div class="container response-block-styling" id="response-block">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="image-styling" style="display: none" id="thumbnail" src="" alt="image"/>
                </div>

                <div class="col-md-6 text-center response-styling" >
                    <div id="response-name"></div>
                    <div id="response-value"></div>
                </div>
            </div>
           
            

        </div>
        <script src="{{ url_for('static', filename='js/api.js') }}"></script>
        <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>	
</html>